{
  "rrsets": [
    {
      "name": "{{ cloudboz_sub_domain }}.",
      "type": "A",
      "ttl": 86400,
      "changetype": "REPLACE",
      "records": [
        {
          "content": "{{ cloudboz_sub_domain_ip }}",
          "disabled": false
        }
      ]
    }
  ]
}