{
  "rrsets": [
    {
      "name": "{{ cloudboz_sub_domain }}",
      "type": "A",
      "ttl": 86400,
      "changetype": "REPLACE",
      "records": [
        {
          "content": "{{ ansible_default_ipv4.address }}",
          "disabled": false
        }
      ]
    }
  ]
}