version: "3.7"

services:
  app:
    image: gitlab/gitlab-runner
    volumes:
      - /home/{{ ansible_user }}/cloudboz/gitlab-runner/data:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cloudboz
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy: 
        condition: on-failure
networks:
  cloudboz:
    external: true